services:
  db:
        image: postgres:13-alpine
        container_name: gopherso-db
        environment:
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: postgres
            POSTGRES_DB: gopherso
        volumes:
            - pgdata:/var/lib/postgresql/data   
        ports:
            - "5432:5432"
volumes:
    pgdata:   